<form class="uk-animation-slide-right-small">
    <div class="d-flex justify-content-between">
      <div>
        <div class="uk-margin">
          <div class="uk-form-controls">
            <select class="uk-select" id="form-horizontal-select">
              <option>เเสดง 10 เเถว</option>
              <option>เเสดง 20 เเถว</option>
              <option>เเสดง 30 เเถว</option>
            </select>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
          <div class="uk-column-1-2">
            <div>
              <div class="uk-margin">
                <div class="uk-form-controls">
                  <select class="uk-select">
                    <option>ค้นหาจาก ชื่อผู้ใช้งาน</option>
                    <option>ค้นหาจาก ชื่อ-สกุล</option>
                  </select>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-margin">
                <div class="uk-inline">
                  <a class="uk-form-icon" uk-icon="icon: search"></a>
                  <input (search)="onCha()" type="search" class="uk-input"  placeholder="คำค้นหา...">
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </form>