<h3 class="uk-animation-slide-left-small">
  <span uk-icon="users"></span>
  <span> จัดการผู้ใช้งาน</span>
</h3>
<ul class="uk-animation-slide-left-small" uk-tab>
  <li [routerLink]="['/main-system/users/list']" routerLinkActive="uk-active">
    <a href="#">
      <span uk-icon="users"></span>
      รายการผู้ใช้งาน
    </a>
  </li>
  <li [routerLink]="['/main-system/users/create']" routerLinkActive="uk-active">
    <a href="#">
      <span uk-icon="plus-circle"></span>
      เพิ่มผู้ใช้งาน
    </a>
  </li>
</ul>
<router-outlet></router-outlet>