<div class="d-flex justify-content-between">
  <div class="uk-margin-medium-top">
    <p>
      เเสดง {{((currentPage-1)*limitRow)==0?1:((currentPage-1)*limitRow)}}
      ถึง {{currentPage == pagination[pagination?.length-1]?resultRow:currentPage*limitRow}}
      จาก {{resultRow}} เเถว
    </p>
  </div>
  <ng-container *ngIf="pagination?.length <= 10">
    <ul class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin>
      <li (click)="onPagePrevious()"><a><span uk-pagination-previous></span></a></li>
      <li (click)="onChangePage(page)" *ngFor="let page of pagination" [ngClass]="{'uk-active':currentPage == page}"><a>{{page}}</a></li>
      <li (click)="onPageNext()"><a><span uk-pagination-next></span></a></li>
    </ul>
  </ng-container>
  <ng-container *ngIf="pagination?.length > 10">
    <ul class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin>
      <li (click)="onPagePrevious()"><a><span uk-pagination-previous></span></a></li>
      <li (click)="onChangePage(pagination[0])" [ngClass]="{'uk-active':currentPage == pagination[0]}"><a>{{pagination[0]}}</a></li>
      <li class="uk-disabled"><span>...</span></li>
      <li (click)="onChangePage(page)" *ngFor="let page of paginationOver" [ngClass]="{'uk-active':currentPage == page}" ><a>{{page}}</a></li>
      <li class="uk-disabled"><span>...</span></li>
      <li (click)="onChangePage(pagination[pagination?.length-1])" [ngClass]="{'uk-active':currentPage == pagination[pagination?.length-1]}"><a>{{pagination[pagination?.length-1]}}</a></li>
      <li><a (click)="onPageNext()"><span uk-pagination-next></span></a></li>
    </ul>
  </ng-container>

</div>