<div class="d-flex justify-content-between">
  <div class="uk-margin-medium-top">
    <p>
      เเสดง {{((currentPage-1)*limitRow)==0?1:((currentPage-1)*limitRow)}}
      ถึง {{currentPage == pagination[pagination?.length-1]?resultRow:currentPage*limitRow}}
      จาก {{resultRow}} เเถว
    </p>
  </div>
  <ng-container *ngIf="pagination?.length <= 10">
    <ul class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin>
      <li><a (click)="onPagePrevious()"><span uk-pagination-previous></span></a></li>
      <li *ngFor="let page of pagination" [ngClass]="{'uk-active':currentPage == page}"><a (click)="onChangePage(page)">{{page}}</a></li>
      <li><a (click)="onPageNext()"><span uk-pagination-next></span></a></li>
    </ul>
  </ng-container>
  <ng-container *ngIf="pagination?.length > 10">
    <ul class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin>
      <li><a (click)="onPagePrevious()"><span uk-pagination-previous></span></a></li>
      <li [ngClass]="{'uk-active':currentPage == pagination[0]}"><a (click)="onChangePage(pagination[0])">{{pagination[0]}}</a></li>
      <li class="uk-disabled"><span>...</span></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li class="uk-active"><span>7</span></li>
      <li><a href="#">8</a></li>
      <li><a href="#">9</a></li>
      <li><a href="#">10</a></li>
      <li class="uk-disabled"><span>...</span></li>
      <li [ngClass]="{'uk-active':currentPage == pagination[pagination?.length-1]}"><a (click)="onChangePage(pagination[pagination?.length-1])">{{pagination[pagination?.length-1]}}</a></li>
      <li><a (click)="onPageNext()"><span uk-pagination-next></span></a></li>
    </ul>
  </ng-container>

</div>