<nav class="uk-navbar uk-navbar-container uk-margin bg-sidebar-out uk-box-shadow-small uk-animation-fade">
  <div class="uk-navbar-left">
    <a class="uk-navbar-toggle" href="#" uk-toggle="target: #offcanvas-push">
      <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">เมนู</span>
    </a>
    <div class="uk-navbar-item">
      <form class="uk-search uk-search-default">
        <a href="" uk-search-icon></a>
        <input class="uk-search-input" type="search" placeholder="ค้นหา...">
      </form>
    </div>
  </div>
  <div class="uk-navbar-rigth">
    <ul class="uk-navbar-nav">
      <!-- <li><a href="#"><span uk-icon="list"></span> <span> แสดงคิวทั้งหมด</span></a></li> -->
      <li><a [routerLink]="['/login']"><span uk-icon="sign-out"></span> <span class="uk-margin-small-left">ออกจากระบบ</span></a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>



<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav uk-nav-default">
      <li class="uk-nav-header">ชื่อโครงเจ็ค</li>
      <li class="uk-nav-divider"></li>
      <li>
        <a (click)="OnClose()" [routerLink]="['/main-system/users']" routerLinkActive="active" >
          <span class="uk-margin-small-right" uk-icon="icon: users"></span>
          จัดการผูใช้งานระบบ
        </a>
      </li>
      <li>
        <a  (click)="OnClose()" [routerLink]="['/main-system/settings']" routerLinkActive="active">
          <span class="uk-margin-small-right" uk-icon="icon: trash"></span>
          ถังขยะ
        </a>
      </li>
      <li class="uk-nav-divider"></li>
      <li><a (click)="OnClose()" [routerLink]="['/main-system/trash']" routerLinkActive="active">
          <span class="uk-margin-small-right" uk-icon="icon: settings"></span>
          ตั้งค่าระบบ
        </a>
      </li>
    </ul>
  </div>
</div>