
  .uk-navbar{
    background-color: white;
  }
  .uk-search-input{
    width: 250px;
    font-family: 'Kanit',sans-serif;
  }
  .uk-offcanvas-bar {
    background-color: white;
    a{
      color: #363636 !important;
      &:hover{
        color: #888888 !important;
      }
    }
}
.uk-nav-header,{
  color: #363636 !important;
}
.uk-nav-divider{
  background-color: #c0c0c0;
}
.uk-nav-header{
  font-size: 25px;
}
