<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'push'">
    <div class="side-bar">
      <nav class="uk-navbar uk-navbar-container uk-margin bg-sidebar-in">
        <div class="uk-navbar-left">
          <a class="uk-navbar-toggle" href="#" (click)="drawer.toggle()">
            <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">เมนู</span>
          </a>
        </div>
      </nav>
      <div class="box-manu">
        <div class="uk-width-1">
          <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
            <li class="uk-active"><a href="#">Active</a></li>
            <li class="uk-parent">
              <a href="#">Parent</a>
              <ul class="uk-nav-sub">
                <li><a (click)="drawer.toggle()" href="#">Sub item</a></li>
                <li>
                  <a href="#">Sub item</a>
                  <ul>
                    <li><a href="#">Sub item</a></li>
                    <li><a href="#">Sub item</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="uk-parent">
              <a href="#">Parent</a>
              <ul class="uk-nav-sub">
                <li><a href="#">Sub item</a></li>
                <li><a href="#">Sub item</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>

    <nav class="uk-navbar uk-navbar-container uk-margin bg-sidebar-out uk-box-shadow-small">
      <div class="uk-navbar-left">
        <a class="uk-navbar-toggle" href="#" (click)="drawer.toggle()">
          <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">เมนู</span>
        </a>
        <div class="uk-navbar-item">
          <form class="uk-search uk-search-default">
            <a href="" uk-search-icon></a>
            <input class="uk-search-input" type="search" placeholder="ค้นหา...">
          </form>
        </div>
      </div>
      <div class="uk-navbar-rigth">
        <ul class="uk-navbar-nav">
          <!-- <li><a href="#"><span uk-icon="list"></span> <span> แสดงคิวทั้งหมด</span></a></li> -->
          <li><a href="#"><span uk-icon="sign-out"></span> <span class="uk-margin-small-left">ออกจากระบบ</span></a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>