<app-navbar></app-navbar>
<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
      <li class="uk-nav-header">ชื่อโครงเจ็ค</li>
      <li class="uk-nav-divider"></li>
      <li>
        <a (click)="OnClose()" [routerLink]="['/main-system/dashboard']" routerLinkActive="active">
          <span class="uk-margin-small-right" uk-icon="icon: settings"></span>
          เเผงควบคุม
        </a>
      </li>
      <li>
        <a (click)="OnClose()" [routerLink]="['/main-system/users']" routerLinkActive="active">
          <span class="uk-margin-small-right" uk-icon="icon: users"></span>
          จัดการผู้ใช้งานระบบ
        </a>
      </li>
      <li>
        <a (click)="OnClose()" [routerLink]="['/main-system/trash']" routerLinkActive="active">
          <span class="uk-margin-small-right" uk-icon="icon: trash"></span>
          ถังขยะ
        </a>
      </li>
      <li class="uk-nav-divider"></li>
      <li><a (click)="OnClose()" [routerLink]="['/main-system/settings']" routerLinkActive="active">
          <span class="uk-margin-small-right" uk-icon="icon: cog"></span>
          ตั้งค่า
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="my-container">
  <router-outlet></router-outlet>
</div>