/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Kanit';
    src: url('assets/fonts/Kanit-ExtraLight.ttf');
  }
html, body,span,input {
     height: 100%; 
     margin: 0;
     font-family: 'Kanit',sans-serif;
}
.validation-text{
  position: absolute;
  top:-17px;
  right: 0px;
}